.Danhmuc img {
    max-width: 100%; 
    max-height: 100%; 
    height: auto; 
}

.Danhmuc {
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    margin: 20px auto; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    background-color: #ffffff; 
    max-width: fit-content; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto; 
}

.Danhmuc button {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 10px 15px; 
    margin: 5px; 
    border: 1px solid #ccc; 
    background-color: #f0f0f0; 
    cursor: pointer; 
    min-width: 120px; 
    box-sizing: border-box;
    border-radius: 5px; 
    transition: transform 0.2s, background-color 0.2s; 
}

.Danhmuc button:hover {
    background-color: #e0e0e0; 
    transform: scale(1.05); 
}

.Danhmuc button i, .Danhmuc button img {
    font-size: 24px; 
    margin-bottom: 5px; 
}

.Danhmuc button.active {
    background-color: #007bff; 
    color: #ffffff; 
    border-color: #0056b3; 
    transition: background-color 0.3s ease, color 0.3s ease; }