@media (max-width: 767px) {
	.mini-cart > a {
		display: block;
		width: 24px;
		margin-right: 5px;
		position: relative;
 }
	.mini-cart .count_item {
		position: absolute;
		right: -12px;
		top: -5px;
		font-size: 10px;
 }
}
.ega-cr-addon li.ega-menu__item.ega-loadmore-btn {
	display: var(--show-loadmore);
}
.ega-cr-addon li.ega-menu__item.ega-loadmore-btn + li.ega-menu__item {
	order: var(--order-loadmore);
}
#crCartModal .crbtn-modal__right b {
	color: var(--price-color);
}
@media (max-width: 767px) {
	.ega-smartsearch-item__image {
		width: 60px !important;
 }
	.ega-smartsearch-item__image img {
		max-width: 60px !important;
		max-height: 60px !important;
 }
}
@media (max-width: 767px) {
	#ega-smartsearch-search-suggestion.sticky:before, #ega-smartsearch-search-suggestion.sticky:after {
		right: 90px;
 }
}